

    <header class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container">
            <a href="#" class="navbar-brand">Ecommerce de Abarrotes</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a href="#" class="nav-link">Inicio</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Productos</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Carrito</a></li>
                </ul>
            </div>
        </div>
    </header>

    <main class="container my-5">

        <section class="row">
            <div class="col-md-6">
                <img src="..." alt="Banner 1" class="img-fluid">
            </div>
            <div class="col-md-6">
                <img src="..." alt="Banner 2" class="img-fluid">
            </div>
        </section>

        <section class="row my-4">
            <h2>Productos Destacados</h2>
            <div class="row row-cols-3">
                <div class="col">
                    <div class="card">
                        <img src="..." alt="Producto 1" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Producto 1</h5>
                            <p class="card-text">Descripción breve del producto.</p>
                            <a href="#" class="btn btn-primary">Ver más</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="..." alt="Producto 2" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Producto 2</h5>
                            <p class="card-text">Descripción breve del producto.</p>
                            <a href="#" class="btn btn-primary">Ver más</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="..." alt="Producto 3" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Producto 3</h5>
                            <p class="card-text">Descripción breve del producto.</p>
                            <a href="#" class="btn btn-primary">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
