<section>
<div class="row">
  <div class="col-4">
    <nav id="navbar-example3" class="h-100 flex-column align-Frutas-stretch pe-4 border-end">
      <nav class="nav nav-pills flex-column">
        <a class="nav-link" href="#fruta-1">Fruta 1</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ms-3 my-1" href="#fruta-1-1">Fruta 1-1</a>
          <a class="nav-link ms-3 my-1" href="#fruta-1-2">Fruta 1-2</a>
        </nav>
        <a class="nav-link" href="#fruta-2">Fruta 2</a>
        <a class="nav-link" href="#fruta-3">Fruta 3</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ms-3 my-1" href="#fruta-3-1">Fruta 3-1</a>
          <a class="nav-link ms-3 my-1" href="#fruta-3-2">Fruta 3-2</a>
        </nav>
      </nav>
    </nav>
  </div>

  <div class="col-8">
    <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
      <div id="fruta-1">
        <h4><mat-icon>send</mat-icon>Fruta 1</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus enim explicabo ipsa minima quidem rerum autem, laboriosam, dolor quod dignissimos aut quia inventore! Ipsa error delectus sit porro, quos qui!</p>
      </div>
      <div id="fruta-1-1">
        <h5><mat-icon>send</mat-icon>Fruta 1-1</h5>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus enim explicabo ipsa minima quidem rerum autem, laboriosam, dolor quod dignissimos aut quia inventore! Ipsa error delectus sit porro, quos qui!</p>
      </div>
      <div id="fruta-1-2">
        <h5><mat-icon>send</mat-icon>Fruta 1-2</h5>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus enim explicabo ipsa minima quidem rerum autem, laboriosam, dolor quod dignissimos aut quia inventore! Ipsa error delectus sit porro, quos qui!</p>
      </div>
      <div id="fruta-2">
        <h4><mat-icon>send</mat-icon>Fruta 2</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus enim explicabo ipsa minima quidem rerum autem, laboriosam, dolor quod dignissimos aut quia inventore! Ipsa error delectus sit porro, quos qui!</p>
      </div>
      <div id="fruta-3">
        <h4><mat-icon>send</mat-icon>Fruta 3</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus enim explicabo ipsa minima quidem rerum autem, laboriosam, dolor quod dignissimos aut quia inventore! Ipsa error delectus sit porro, quos qui!</p>
      </div>
      <div id="fruta-3-1">
        <h5><mat-icon>send</mat-icon>Fruta 3-1</h5>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus enim explicabo ipsa minima quidem rerum autem, laboriosam, dolor quod dignissimos aut quia inventore! Ipsa error delectus sit porro, quos qui!</p>
      </div>
      <div id="fruta-3-2">
        <h5><mat-icon>send</mat-icon>Fruta 3-2</h5>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus enim explicabo ipsa minima quidem rerum autem, laboriosam, dolor quod dignissimos aut quia inventore! Ipsa error delectus sit porro, quos qui!</p>
      </div>
    </div>
  </div>
</div>
</section>
