<nav class="navbar bg-body-tertiary bg-black ">
  <div class="container-fluid">
    <img src="https://www.svgrepo.com/show/265470/fruits-diet.svg" style="height: 4vh; width:25px;" alt="">
    <a class="navbar-brand" routerLink="">Proyecto Luna</a>
    <li class="nav-item dropdown">
      <button class="btn btn-secondary dropdown-toggle dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Acerca de nosotros
    </button>
      <ul class="dropdown-menu dropdown-menu-dark">
        <li><a class="dropdown-item" routerLink="about" routerLinkActive="Active">Nuestra gente</a></li>
        <li><a class="dropdown-item" routerLink="tab" routerLinkActive="Active">Contactos</a></li>
        <li><a class="dropdown-item" routerLink="#" routerLinkActive="Active">Tenencias</a></li>
      </ul>
    </li>
  </div>
</nav>
<router-outlet></router-outlet>
